@import '../app/_theme.scss';

.background_card {
    background: $transparent-color !important;
    min-height: fit-content;
    max-width: $max-width;
    border-radius: 24px !important;
    border: 1px solid #989898 !important;
}

.card_item {
    background: $transparent-color !important;
    min-height: fit-content;
    border-radius: 24px !important;
    border: 1px solid #989898 !important;
    max-width: calc((100% / 4) - 1rem) !important;
}