@import '../app/_theme.scss';

.btn_color_primary {
    color: #fff !important;
    border: none !important;
    background: $primary-color;
    border-radius: 8px !important;
}

.btn_color_light {
    color: #7C038E !important;
    border: none !important;
    background: #FFFFFF !important;
    border-radius: 8px !important;
}

.btn_wrapper {
    min-width: fit-content;
}

.btn_fs {
    font-size: $fs-sm !important;
}

.btn_color:hover {
    background: $primary-color-hover;
}