@import '../app/_theme.scss';

.card_custom {
    position: relative;
    background: linear-gradient(130deg,
            rgba(14, 12, 21, 100) 0%,
            rgba(14, 12, 21, 0) 100%) !important;
    color: #CAC6DD !important;
    border-radius: 24px 56px 24px 24px !important;
    border: 4px solid #7C038E !important;
    -webkit-box-shadow: $box_shadow-1;
    -moz-box-shadow: $box_shadow-1;
    box-shadow: $box_shadow-1;
}

.card_custom:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .1) !important;
    width: 30%;
    height: 100%;
    top: 0;
    left: -50%;
    transform: skew(-5deg) !important;
    filter: blur(10px);
}

.card_custom:hover:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .2) !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 110%;
    transition: .3s linear;
    transform: skew(-5deg) !important;
    filter: blur(25px);
}

.icon_container {
    background: linear-gradient(135deg,
            #160528 0%,
            #290D47 30%,
            #381460 70%,
            #160528 100%);
    width: fit-content;
    padding: 1rem !important;
    border-radius: 12px;
}

.icon_self {
    color: #67418D !important;
}