@import '../app/_theme.scss';

.background_card {
    background: $transparent-color !important;
    min-height: 360px;
    max-width: calc(($max-width / 4) - (1.5rem * 3 / 4)) !important;
    border-radius: 24px;
    border: 1px solid #989898;
}