@import '../app/_theme.scss';

.demonstration_wrapper {
    position: relative;
    overflow: visible !important;
    margin-top: 5rem !important;
}

.top_image_form {
    position: relative;
    top: -140px !important;
    z-index: 20;
    margin-bottom: -10rem !important;
}

@media screen and (max-width:960px) {
    .demonstration_wrapper {
        position: relative;
        overflow: visible !important;
    }

    .top_image_form {
        position: relative;
        top: -80px !important;
        z-index: 20;
        margin-bottom: -5rem !important;
    }
}