@import '../app/_theme.scss';

.footer_width {
    position: relative;
    top: -5rem;
    max-height: 600px !important;
    height: 320px !important;
    display: flex;
    flex-direction: row;
    margin: auto !important;
    justify-content: space-between;
    align-items: center;
}

.footer_width::before {
    content: '';
    position: absolute;
    background: $primary-glow-dark;
    width: 600px;
    height: 400px;
    bottom: -100%;
    left: -20%;
    z-index: -1;
    border-radius: 50%;
    filter: blur(30px);
}

.footer_width::after {
    content: '';
    position: absolute;
    background: $primary-glow-dark;
    width: 600px;
    height: 400px;
    bottom: -120%;
    right: -20%;
    z-index: -1;
    border-radius: 50%;
    filter: blur(30px);
}

@media screen and (max-width:960px) {
    .footer_width {
        position: relative;
        top: 0rem;
        max-height: fit-content !important;
        height: fit-content !important;
        display: flex;
        flex-direction: column !important;
        margin: auto !important;
        justify-content: space-between;
        align-items: center;
    }

    .footer_width::before {
        content: '';
        position: absolute;
        background: $primary-glow-dark;
        width: 600px;
        height: 400px;
        bottom: -30%;
        left: -60%;
        z-index: -1;
        border-radius: 50%;
        filter: blur(30px);
    }

    .footer_width::after {
        content: '';
        position: absolute;
        background: $primary-glow-dark;
        width: 600px;
        height: 400px;
        bottom: -40%;
        right: -20%;
        z-index: -1;
        border-radius: 50%;
        filter: blur(30px);
    }
}