@import '../app/_theme.scss';

.nav_list {
    display: flex;
    gap: 2em;

    li {
        list-style: none !important;
        font-size: calc($fs-sm + 2px);
    }
}

.nav_bar {
    border: 1px solid #ccc;
    border-radius: 32px;
    padding: .8rem 1.5rem !important;
}

.nav_bar:hover {
    border: 1px solid #fff;
    border-radius: 32px;
    padding: .8rem 1.5rem !important;
}

@media screen and (max-width:760px) {
    .nav_bar {
        position: relative;
        top: -20px;
        left: -25px;
        background-color: #0e0319 !important;
        border: none;
        border-radius: 0 !important;
        box-shadow: inset $box_shadow-1 !important;
        transition: .3s linear;
        width: 100vw !important;
        margin: auto;
    }

    .closed {
        position: relative;
        padding: .8rem 1.5rem !important;
        height: 0 !important;
        overflow: hidden;
        transition: .3s linear;
        visibility: hidden;
    }

    .open {
        padding: .8rem 1.5rem !important;
        height: 320px !important;
        overflow: visible;
        transition: .3s linear;
        visibility: visible;
    }

    .nav_bar:hover {
        border: none !important;
        border-radius: 0 !important;
    }

    .nav_list {
        display: flex;
        position: relative !important;
        top: 5px !important;
        padding-bottom: 1rem !important;
        gap: 1.6em;

        li {
            list-style: none !important;
            font-size: calc($fs-sm + 8px) !important;
            font-weight: 500 !important;
            padding-bottom: 1rem !important;
            border-bottom: 1px solid #20033e;
        }

        a:focus {
            color: #fff !important;
            border: 1px solid #50139199 !important;
            border-radius: 6px !important;
        }

        a:focus li {
            border: none !important;
        }
    }
}