@import '../app/_theme.scss';

.controls_wrapper {
    right: -11%;
    top: 3%;
}

.switch_theme {
    transform: scale(2);
    margin-right: 1rem;
}

.arrow {
    transform: rotate(-100deg);
    top: -5%;
    left: -5%;
    z-index: 99;
}
@media screen and (max-width:768px) {
    .controls_wrapper {
        right: 20%;
        top: 0;
        transform: scale(1);
    }

    .switch_theme {
        transform: scale(1.5);
        margin-right: .3rem;
    }
.arrow {
    display: none !important;
}

.screen {
    margin-top: 12%;
}
}