@import '../app/_theme.scss';

.background_card {
    position: relative !important;
    background: #fff !important;
    max-width: fit-content !important;
    padding: 3rem !important;
    border-radius: 24px !important;
    border: 1px solid #9A9A9A !important;
    overflow: visible !important;
}

.background_card_dark {
    position: relative !important;
    background: #1C0237 !important;
    max-width: fit-content !important;
    padding: 3rem !important;
    border-radius: 24px !important;
    border: 1px solid #9A9A9A !important;
    overflow: visible !important;
}

.child_color_dark ul li {
    color: #1C0237;
    font-size: calc($fs-md - 14px);
}

.child_color_light ul li {
    color: #fff;
    font-size: calc($fs-md - 14px);
}

.badge_wrapper {
    background: $primary-color;
    position: absolute !important;
    font-size: calc($fs-sm + 2px);
    top: -20px !important;
    z-index: 5 !important;
}

@media screen and (max-width:960px) {
    .child_color_dark ul li {
        color: #1C0237;
        font-size: calc($fs-md - 10px);
    }

    .child_color_light ul li {
        color: #fff;
        font-size: calc($fs-md - 10px);
    }
}