@import '../app/_theme.scss';

.video_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#video_content {
    margin-inline: auto !important;
    width: 1080px !important;
    height: 650px !important;
    -webkit-box-shadow: $box_shadow-1;
    -moz-box-shadow: $box_shadow-1;
    box-shadow: $box_shadow-1;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 20px, transparent 20px) 0% 0%/36px 36px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 20px, transparent 20px) 100% 0%/36px 36px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 20px, transparent 20px) 0% 100%/36px 36px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 20px, transparent 20px) 100% 100%/36px 36px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 72px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 72px) calc(100% - 32px) no-repeat,
        linear-gradient(145deg, #727272 0%, rgba(208, 208, 208, 1) 49%, #4d4d4d 100%) !important;
    border-radius: 36px;
    padding: 16px !important;
}

.video_overlay:before {
    content: '';
    position: absolute;
    display: block;
    width: 100dvw;
    height: 105%;
    background: $overlay-color;
    display: none;
}

.video_placeholder {
    top: -90%;
    right: -65%;
    z-index: -1;
    margin-bottom: 60px;
}

.video_mock {
    opacity: .5;
    animation-name: blurred;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.play_icon {
    left: 25%;
    z-index: 99;
    font-size: 82px;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@media screen and (max-width:760px) {
    .video_wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #video_content {
        margin-inline: auto !important;
        width: 100% !important;
        height: 100% !important;
        -webkit-box-shadow: $box_shadow-1;
        -moz-box-shadow: $box_shadow-1;
        box-shadow: $box_shadow-1;
        background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/16px 16px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/16px 16px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/16px 16px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/16px 16px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 72px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 72px) calc(100% - 32px) no-repeat,
            linear-gradient(145deg, #727272 0%, rgba(208, 208, 208, 1) 49%, #4d4d4d 100%) !important;
        border-radius: 16px;
        padding: 6px !important;
    }
.video_placeholder {
    top: -6%;
    right: 0%;
    z-index: -1;
    margin-bottom: 160px;
}

.video_mock {
    opacity: .5;
    width: 150%;
}

.play_icon {
    left: 42%;
    z-index: 99;
    font-size: 52px
}
}

@keyframes pulse {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

@keyframes blurred {
    from {
        filter: blur(0) brightness(1);
    }

    to {
        filter: blur(3px) brightness(.3);
    }
}