.img_wrapper {
    transform: scale(1);
    transition: all .2s linear;
    background: rgb(37, 211, 102);
    padding: 12px;
    border-radius: 120px;
}

.img_wrapper:hover {
    transition: all .2s linear;
    animation: hoverButton .5s linear .1s infinite alternate;
}

.btn_wpp_border{
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 16px rgba(37, 211, 102, 0);
	}
}

@keyframes hoverButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }

}