@import './_theme.scss';

// Aplique o tema escuro por padrão
@include dark-theme;
@include light-theme;

@media (prefers-color-scheme: light) {
  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  @include dark-theme;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb($foreground-rgb);
  background: linear-gradient(to bottom,
      transparent,
      rgb($background-end-rgb)) rgb($background-start-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}