@import './_theme.scss';

@include dark-theme;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: $font-mono;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  place-content: center;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  width: $max-width;
}