@import './_theme.scss';

@include dark-theme;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  max-width: $max-width;
  margin: auto !important;
}

.code {
  font-weight: 700;
  font-family: $font-mono;
}